In [165]:
import pandas as pd
import numpy as np

In [166]:
news = pd.read_csv('news.csv')
fake = pd.read_csv('Fake.csv')
true = pd.read_csv('True.csv')

In [167]:
news.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [168]:
news['label'] = news['label'].map({'FAKE':0, 'REAL':1}).astype(int)
news.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1

In [169]:
news.rename(columns={'label': 'class'}, inplace=True)
news.head()

,Unnamed: 0,title,text,class
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1

In [171]:
news = news.drop(['Unnamed: 0'], axis=1)
news.head()

,title,text,class
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1

In [172]:
fake_news = news[news['class'] == 0]
fake_news

,title,text,class
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
5,"Tehran, USA","\nI’m not an immigrant, but my grandparents ...",0
6,Girl Horrified At What She Watches Boyfriend D...,"Share This Baylee Luciani (left), Screenshot o...",0
...,...,...,...
6326,DOJ COMPLAINT: Comey Under Fire Over Partisan ...,DOJ COMPLAINT: Comey Under Fire Over Partisan ...,0
6328,Radio Derb Is On The Air–Leonardo And Brazil’s...,,0
6329,Assange claims ‘crazed’ Clinton campaign tried...,Julian Assange has claimed the Hillary Clinton...,0
6331,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,0
6332,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,0

In [173]:
true_news = news[news['class'] == 1]
true_news

,title,text,class
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1
7,‘Britain’s Schindler’ Dies at 106,A Czech stockbroker who saved more than 650 Je...,1
8,Fact check: Trump and Clinton at the 'commande...,Hillary Clinton and Donald Trump made some ina...,1
9,Iran reportedly makes new push for uranium con...,Iranian negotiators reportedly have made a las...,1
...,...,...,...
6324,Alabama Lawmaker: Same-Sex Couples Don’t Deser...,Most conservatives who oppose marriage equalit...,1
6327,GOP Senator David Perdue Jokes About Praying f...,The freshman senator from Georgia quoted scrip...,1
6330,State Department says it can't find emails fro...,The State Department told the Republican Natio...,1
6333,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",1
6334,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,1

In [177]:
fake_marge = pd.concat([fake_news, fake], axis=0)
fake_marge = fake_marge.sample(frac = 1)
fake_marge.reset_index(inplace = True)
fake_marge.drop(["index"], axis = 1, inplace = True)
fake_marge.head()

,title,text,class,subject,date
0,REPORTER CONFRONTS State Department Over DC Vi...,Could this guy be any more clueless? Is it tha...,NaN,Government News,"May 24, 2016"
1,Episode #154 – SUNDAY WIRE: ‘The Pro-War Left?...,Episode #154 of SUNDAY WIRE SHOW resumes this...,NaN,US_News,"September 25, 2016"
2,WATCH: Republican Senator Admits That Trumpca...,While the Affordable Care Act actually has slo...,NaN,News,"March 19, 2017"
3,DNC Chair Asks Democrat Members Of Congress To...,Debbie Wasserman-Schultz didn t ask members of...,NaN,left-news,"Dec 15, 2015"
4,"Clinton Camp Desperate, Russia Trains for WWIII","Clinton Camp Desperate, Russia Trains for WWII...",0.0,NaN,NaN

In [178]:
true_marge = pd.concat([true_news, true], axis=0)
true_marge = true_marge.sample(frac = 1)
true_marge.reset_index(inplace = True)
true_marge.drop(["index"], axis = 1, inplace = True)
true_marge.head()

,title,text,class,subject,date
0,Latest fire in Chinese capital kills five desp...,BEIJING (Reuters) - A fire in a southern neigh...,NaN,worldnews,"December 13, 2017"
1,Dogs hit escapees' scent at gas station near p...,(CNN) Investigators are looking at surveillanc...,1.0,NaN,NaN
2,The toughest job in American politics? Defendi...,The toughest job in politics these days is def...,1.0,NaN,NaN
3,Top Senate intelligence Democrat: 'more invest...,WASHINGTON (Reuters) - The top Democrat on the...,NaN,politicsNews,"June 7, 2017"
4,Paraguay senator with dictatorship ties to run...,ASUNCION (Reuters) - Paraguayan Senator Mario ...,NaN,worldnews,"December 18, 2017"

In [179]:
fake_marge.to_csv('Fake1.csv', index=False)

In [180]:
true_marge.to_csv('true1.csv', index=False)