In [121]:
import pandas as pd
import numpy as np

In [122]:
news = pd.read_csv('news_y.csv')
fake = pd.read_csv('Fake_y.csv')
true = pd.read_csv('True_y.csv')

In [123]:
news.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [124]:
news['label'] = news['label'].map({'FAKE':0, 'REAL':1}).astype(int)
news.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1

In [125]:
news.rename(columns={'label': 'class'}, inplace=True)
news.head()

,Unnamed: 0,title,text,class
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1

In [126]:
news = news.drop(['Unnamed: 0'], axis=1)
news.head()

,title,text,class
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1

In [127]:
fake_news = news[news['class'] == 0]
fake_news

,title,text,class
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
5,"Tehran, USA","\nI’m not an immigrant, but my grandparents ...",0
6,Girl Horrified At What She Watches Boyfriend D...,"Share This Baylee Luciani (left), Screenshot o...",0
...,...,...,...
6326,DOJ COMPLAINT: Comey Under Fire Over Partisan ...,DOJ COMPLAINT: Comey Under Fire Over Partisan ...,0
6328,Radio Derb Is On The Air–Leonardo And Brazil’s...,,0
6329,Assange claims ‘crazed’ Clinton campaign tried...,Julian Assange has claimed the Hillary Clinton...,0
6331,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,0
6332,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,0

In [128]:
true_news = news[news['class'] == 1]
true_news

,title,text,class
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1
7,‘Britain’s Schindler’ Dies at 106,A Czech stockbroker who saved more than 650 Je...,1
8,Fact check: Trump and Clinton at the 'commande...,Hillary Clinton and Donald Trump made some ina...,1
9,Iran reportedly makes new push for uranium con...,Iranian negotiators reportedly have made a las...,1
...,...,...,...
6324,Alabama Lawmaker: Same-Sex Couples Don’t Deser...,Most conservatives who oppose marriage equalit...,1
6327,GOP Senator David Perdue Jokes About Praying f...,The freshman senator from Georgia quoted scrip...,1
6330,State Department says it can't find emails fro...,The State Department told the Republican Natio...,1
6333,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",1
6334,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,1

In [129]:
fake_marge = pd.concat([fake_news, fake], axis=0)
fake_marge = fake_marge.sample(frac = 1)
fake_marge.reset_index(inplace = True)
fake_marge.drop(["index"], axis = 1, inplace = True)
fake_marge['class'] = 0
fake_marge.drop(['class'], axis=1, inplace=True)
fake_marge

,title,text,subject,date
0,Federal Judge Rules That Trump DID Incite Vio...,Hearing about violence at Trump s rallies was ...,News,"April 2, 2017"
1,BUSTED! NANCY PELOSI Claims No Meeting With Ru...,Pelosi claims to have not had a meeting with ...,Government News,"Mar 3, 2017"
2,TWO NEW JERSEY MOMS Attacked By Community For ...,Two New Jersey mothers appeared on the Tucker ...,politics,"Mar 30, 2017"
3,What Keeps the F-35 Alive,"Posted on October 31, 2016 by DavidSwanson \nI...",NaN,NaN
4,‘BRIEFCASES FULL OF MONEY’…Uranium One Underco...,"As reported earlier today, Reuters has named t...",politics,"Nov 17, 2017"
...,...,...,...,...
29804,Trump’s Twitter Access Revoked - The Onion - A...,Nation Puts 2016 Election Into Perspective By ...,NaN,NaN
29805,Entire Seattle Seahawks Team Will Join Kaeper...,The Seattle Seahawks will become the first tea...,News,"September 8, 2016"
29806,Clinton Foundation Didn’t Report $20 Million I...,"Gosh, I wonder why The Clinton Foundation has ...",politics,"Nov 17, 2015"
29807,"After Telling 37 Lies In One Day, Trump Calls...",Donald Trump is a serial liar and that probabl...,News,"October 31, 2016"
29808,New App Allegedly Knows Better Than Everyone ...,Want to take part in an opinion poll on the pr...,News,"August 13, 2016"

In [130]:
true_marge = pd.concat([true_news, true], axis=0)
true_marge = true_marge.sample(frac = 1)
true_marge.reset_index(inplace = True)
true_marge.drop(["index"], axis = 1, inplace = True)
true_marge['class'] = 1
true_marge.drop(['class'], axis=1, inplace=True)
true_marge

,title,text,subject,date
0,Saudi has completed main wave of arrests in an...,WASHINGTON (Reuters) - Saudi Arabia has comple...,worldnews,"December 5, 2017"
1,Top Senate Democrat says Trump offered help fo...,WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"September 7, 2017"
2,"Hillary isn't winning over many pundits, even ...",Hillary Clinton is clobbering Bernie Sanders—a...,NaN,NaN
3,First Turkish military convoy enters Syria's I...,BEIRUT (Reuters) - A first convoy of the milit...,worldnews,"October 12, 2017"
4,U.S. embassy in Egypt bans personnel from visi...,CAIRO (Reuters) - Personnel assigned to the U....,politicsNews,"June 6, 2017"
...,...,...,...,...
27754,"Police in Belgium, France, and Germany make ar...",Dozens of terror suspects were arrested in Bel...,NaN,NaN
27755,Democratic appointed appeals judges to review ...,(Reuters) - Three appeals court judges appoint...,politicsNews,"May 8, 2017"
27756,"Marco Rubio, announcing 2016 campaign, focuses...",It’s not that Americans won’t elect wealthy pr...,NaN,NaN
27757,Senate confirms Mnuchin as Treasury secretary,WASHINGTON (Reuters) - The U.S. Senate on Mond...,politicsNews,"February 14, 2017"
27758,UK government softens immigration rules for Gr...,LONDON (Reuters) - Illegal immigrants who surv...,worldnews,"October 11, 2017"

In [131]:
fake_marge.drop(fake_marge.index[-50:-1])

,title,text,subject,date
0,Federal Judge Rules That Trump DID Incite Vio...,Hearing about violence at Trump s rallies was ...,News,"April 2, 2017"
1,BUSTED! NANCY PELOSI Claims No Meeting With Ru...,Pelosi claims to have not had a meeting with ...,Government News,"Mar 3, 2017"
2,TWO NEW JERSEY MOMS Attacked By Community For ...,Two New Jersey mothers appeared on the Tucker ...,politics,"Mar 30, 2017"
3,What Keeps the F-35 Alive,"Posted on October 31, 2016 by DavidSwanson \nI...",NaN,NaN
4,‘BRIEFCASES FULL OF MONEY’…Uranium One Underco...,"As reported earlier today, Reuters has named t...",politics,"Nov 17, 2017"
...,...,...,...,...
29755,NEW YORK TIMES Publishes FAKE Story About Dona...,Here s how fake news works In an effort to cas...,politics,"Jul 10, 2017"
29756,NORTH KOREA: Trump’s Recklessness Could Trigge...,21st Century Wire says Washington s muscle fl...,US_News,"June 22, 2017"
29757,BREAKING: FED JUDGE TERMINATES MI Recount…Asks...,Start Counting. Keep Counting. Stop Counting? ...,politics,"Dec 7, 2016"
29758,U.S. Election Thread 2016-06,This is only a preview. Your comment has not y...,NaN,NaN
29808,New App Allegedly Knows Better Than Everyone ...,Want to take part in an opinion poll on the pr...,News,"August 13, 2016"

In [132]:
true_marge.drop(true_marge.index[-50:-1])

,title,text,subject,date
0,Saudi has completed main wave of arrests in an...,WASHINGTON (Reuters) - Saudi Arabia has comple...,worldnews,"December 5, 2017"
1,Top Senate Democrat says Trump offered help fo...,WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"September 7, 2017"
2,"Hillary isn't winning over many pundits, even ...",Hillary Clinton is clobbering Bernie Sanders—a...,NaN,NaN
3,First Turkish military convoy enters Syria's I...,BEIRUT (Reuters) - A first convoy of the milit...,worldnews,"October 12, 2017"
4,U.S. embassy in Egypt bans personnel from visi...,CAIRO (Reuters) - Personnel assigned to the U....,politicsNews,"June 6, 2017"
...,...,...,...,...
27705,World overlooks Ethiopia drought crisis that i...,"FENTALE, Ethiopia — Sitting in the blistering ...",NaN,NaN
27706,Phyllis Schlafly: Campus sex assault is on the...,In a Monday column for the far-right website W...,NaN,NaN
27707,5 things to watch in tonight’s debate,"Killing Obama administration rules, dismantlin...",NaN,NaN
27708,U.S. drug enforcement chief to step down from ...,(Reuters) - The U.S. Drug Enforcement Administ...,politicsNews,"September 26, 2017"
27758,UK government softens immigration rules for Gr...,LONDON (Reuters) - Illegal immigrants who surv...,worldnews,"October 11, 2017"

In [142]:
fake_marge.to_csv('Fake_estesi.csv', index=False)

In [143]:
true_marge.to_csv('True_estesi.csv', index=False)

In [135]:
fake_tail = fake_marge.tail(50)

In [136]:
true_tail = true_marge.tail(50)

In [137]:
fake_true = pd.concat([true_tail, fake_tail], axis=0)
fake_true

,title,text,subject,date
27709,Venezuela's Maduro keeps eye on prize: 2018 pr...,"CARACAS (Reuters) - Just months ago, with crow...",worldnews,"November 24, 2017"
27710,Gavel Battle: Boehner resignation sparks House...,House Speaker John Boehner’s stunning announce...,NaN,NaN
27711,Cuban businesswomen seek Rubio meeting as U.S....,HAVANA (Reuters) - An association of Cuban bus...,politicsNews,"November 17, 2017"
27712,Trump plays down post-Brexit market turmoil on...,"ABERDEEN, Scotland (Reuters) - U.S. presidenti...",politicsNews,"June 25, 2016"
27713,Trump dismisses Russia controversy as 'scam' b...,WASHINGTON (Reuters) - President Donald Trump ...,politicsNews,"February 16, 2017"
...,...,...,...,...
29804,Trump’s Twitter Access Revoked - The Onion - A...,Nation Puts 2016 Election Into Perspective By ...,NaN,NaN
29805,Entire Seattle Seahawks Team Will Join Kaeper...,The Seattle Seahawks will become the first tea...,News,"September 8, 2016"
29806,Clinton Foundation Didn’t Report $20 Million I...,"Gosh, I wonder why The Clinton Foundation has ...",politics,"Nov 17, 2015"
29807,"After Telling 37 Lies In One Day, Trump Calls...",Donald Trump is a serial liar and that probabl...,News,"October 31, 2016"
29808,New App Allegedly Knows Better Than Everyone ...,Want to take part in an opinion poll on the pr...,News,"August 13, 2016"

In [138]:
fake_true = fake_true.sample(frac = 1)
fake_true.reset_index(inplace = True)
fake_true.drop(["index"], axis = 1, inplace = True)
fake_true.head()

,title,text,subject,date
0,Gavel Battle: Boehner resignation sparks House...,House Speaker John Boehner’s stunning announce...,NaN,NaN
1,A MUST WATCH! JUDGE NAPOLITANO: “For the first...,,politics,"Mar 8, 2017"
2,France's Le Pen congratulates German far-right...,PARIS (Reuters) - French far-right leader Mari...,worldnews,"September 24, 2017"
3,TAKE OUR POLL: Who Do You Think President Trum...,,politics,"May 10, 2017"
4,Obama sanctions Russia for intervening in 2016...,HONOLULU (Reuters) - President Barack Obama on...,politicsNews,"December 29, 2016"

In [139]:
# fake_true.to_csv('News_test.csv', index=False)

In [140]:
#true_marge.to_csv('True_final.csv', index=False)

In [141]:
#fake_marge.to_csv('Fake_final.csv', index=False)