In [53]:
import pandas as pd
import numpy as np

In [54]:
news = pd.read_csv('news.csv')
fake = pd.read_csv('Fake_x.csv')
true = pd.read_csv('True_x.csv')

In [55]:
news.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [56]:
news['label'] = news['label'].map({'FAKE':0, 'REAL':1}).astype(int)
news.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1

In [57]:
news.rename(columns={'label': 'class'}, inplace=True)
news.head()

,Unnamed: 0,title,text,class
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1

In [58]:
news = news.drop(['Unnamed: 0'], axis=1)
news.head()

,title,text,class
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1

In [59]:
fake_news = news[news['class'] == 0]
fake_news

,title,text,class
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
5,"Tehran, USA","\nI’m not an immigrant, but my grandparents ...",0
6,Girl Horrified At What She Watches Boyfriend D...,"Share This Baylee Luciani (left), Screenshot o...",0
...,...,...,...
6326,DOJ COMPLAINT: Comey Under Fire Over Partisan ...,DOJ COMPLAINT: Comey Under Fire Over Partisan ...,0
6328,Radio Derb Is On The Air–Leonardo And Brazil’s...,,0
6329,Assange claims ‘crazed’ Clinton campaign tried...,Julian Assange has claimed the Hillary Clinton...,0
6331,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,0
6332,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,0

In [60]:
true_news = news[news['class'] == 1]
true_news

,title,text,class
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1
7,‘Britain’s Schindler’ Dies at 106,A Czech stockbroker who saved more than 650 Je...,1
8,Fact check: Trump and Clinton at the 'commande...,Hillary Clinton and Donald Trump made some ina...,1
9,Iran reportedly makes new push for uranium con...,Iranian negotiators reportedly have made a las...,1
...,...,...,...
6324,Alabama Lawmaker: Same-Sex Couples Don’t Deser...,Most conservatives who oppose marriage equalit...,1
6327,GOP Senator David Perdue Jokes About Praying f...,The freshman senator from Georgia quoted scrip...,1
6330,State Department says it can't find emails fro...,The State Department told the Republican Natio...,1
6333,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",1
6334,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,1

In [61]:
fake_marge = pd.concat([fake_news, fake], axis=0)
fake_marge = fake_marge.sample(frac = 1)
fake_marge.reset_index(inplace = True)
fake_marge.drop(["index"], axis = 1, inplace = True)
fake_marge['class'] = 0
fake_marge

,title,text,class,subject,date
0,Baby Bonds: A Plan for Black/White Wealth Equa...,by Yves Smith \nYves here. I strongly suspect ...,0,NaN,NaN
1,Why GOP Presidential Candidates Are Angry Ira...,The release of Americans being held prisoner i...,0,News,"January 16, 2016"
2,Close call: Russia-U.S. ‘near-miss’ problem mo...,Print \nIt looks like the vaunted air space co...,0,NaN,NaN
3,MOST AWKARD MOMENT EVER: 6 Months After Trump ...,A painfully awkward and heartbreaking moment f...,0,politics,"Dec 21, 2015"
4,BREAKING: Russian Officials Celebrate Rex Til...,Quid pro quo in the Trump/Russia situation is ...,0,News,"December 14, 2016"
...,...,...,...,...,...
26640,WATCH MAJOR MOMENT President-elect Trump And E...,,0,politics,"Jan 19, 2017"
26641,BREAKING: YOU’RE FIRED! FBI DIRECTOR JAMES COM...,Wow! This is clearly something the White House...,0,politics,"May 9, 2017"
26642,DEPARTMENT STORE MANNEQUINS Changed to Give Na...,Is this a case of the left protesting again by...,0,politics,"Aug 15, 2017"
26643,CATHOLIC PARTIAL BIRTH-ABORTION SUPPORTING DEM...,He did the same thing at Obama s inauguration ...,0,left-news,"Sep 26, 2015"
26644,Maddow Compares Trump To 1968 Racist Candidat...,Some political pundits have been unable to des...,0,News,"January 6, 2016"

In [62]:
true_marge = pd.concat([true_news, true], axis=0)
true_marge = true_marge.sample(frac = 1)
true_marge.reset_index(inplace = True)
true_marge.drop(["index"], axis = 1, inplace = True)
true_marge['class'] = 1
true_marge.head()

,title,text,class,subject,date
0,Trump to meet scandal-hit Malaysian leader in ...,WASHINGTON/KUALA LUMPUR (Reuters) - President ...,1,politicsNews,"August 23, 2017"
1,"'One China' principle must be maintained, Chin...",BEIJING (Reuters) - The One China principle ...,1,worldnews,"October 18, 2017"
2,UK says has constructive relationship with Ire...,LONDON (Reuters) - Britain has a constructive ...,1,worldnews,"November 24, 2017"
3,"U.S. plans to admit maximum 45,000 refugees in...",WASHINGTON (Reuters) - The Trump administratio...,1,politicsNews,"September 27, 2017"
4,Afghan suspect arrested in Germany over migran...,BERLIN (Reuters) - German police on Tuesday ar...,1,worldnews,"December 5, 2017"

In [63]:
# fake_marge.to_csv('Fake1.csv', index=False)

In [64]:
# true_marge.to_csv('true1.csv', index=False)

In [65]:
fake_tail = fake_marge.tail(50)

In [66]:
true_tail = true_marge.tail(50)

In [67]:
fake_true = pd.concat([true_tail, fake_tail], axis=0)
fake_true

,title,text,class,subject,date
24538,New York probing Trump's closing of Trump Towe...,(This May 31 story corrects atrium’s opening ...,1,politicsNews,"May 31, 2016"
24539,The big problem Obama's free community college...,When President Obama called for two years of f...,1,NaN,NaN
24540,"Obamacare Enrollments Hit Nearly 12 Million, T...",More than half of these enrollees are new to t...,1,NaN,NaN
24541,Two Republican senators blast Trump as party f...,WASHINGTON (Reuters) - Tensions among Republic...,1,politicsNews,"October 24, 2017"
24542,"German officials receive threatening letters, ...",Berlin (Reuters) - Five top German politicians...,1,worldnews,"September 21, 2017"
...,...,...,...,...,...
26640,WATCH MAJOR MOMENT President-elect Trump And E...,,0,politics,"Jan 19, 2017"
26641,BREAKING: YOU’RE FIRED! FBI DIRECTOR JAMES COM...,Wow! This is clearly something the White House...,0,politics,"May 9, 2017"
26642,DEPARTMENT STORE MANNEQUINS Changed to Give Na...,Is this a case of the left protesting again by...,0,politics,"Aug 15, 2017"
26643,CATHOLIC PARTIAL BIRTH-ABORTION SUPPORTING DEM...,He did the same thing at Obama s inauguration ...,0,left-news,"Sep 26, 2015"
26644,Maddow Compares Trump To 1968 Racist Candidat...,Some political pundits have been unable to des...,0,News,"January 6, 2016"

In [68]:
fake_true = fake_true.sample(frac = 1)
fake_true.reset_index(inplace = True)
fake_true.drop(["index"], axis = 1, inplace = True)
fake_true.head()

,title,text,class,subject,date
0,Kazakh leader tells cabinet: Make state firms ...,ASTANA (Reuters) - Kazakh President Nursultan ...,1,worldnews,"December 6, 2017"
1,"Obamacare Enrollments Hit Nearly 12 Million, T...",More than half of these enrollees are new to t...,1,NaN,NaN
2,Who rules the world? America is no longer the ...,When we ask “who rules the world?” we commonly...,1,NaN,NaN
3,MILLENNIAL Drops Awesome TRUTH BOMB On Her Gen...,One millennial is 100% FED Up! with her genera...,0,politics,"Apr 28, 2016"
4,European Union asks Obama to stop 9/11 Saudi bill,WASHINGTON (Reuters) - The European Union on W...,1,politicsNews,"September 21, 2016"

In [69]:
# fake_true.to_csv('News_test.csv', index=False)

In [70]:
fake_marge.drop(fake_marge.index[-50:-1])

,title,text,class,subject,date
0,Baby Bonds: A Plan for Black/White Wealth Equa...,by Yves Smith \nYves here. I strongly suspect ...,0,NaN,NaN
1,Why GOP Presidential Candidates Are Angry Ira...,The release of Americans being held prisoner i...,0,News,"January 16, 2016"
2,Close call: Russia-U.S. ‘near-miss’ problem mo...,Print \nIt looks like the vaunted air space co...,0,NaN,NaN
3,MOST AWKARD MOMENT EVER: 6 Months After Trump ...,A painfully awkward and heartbreaking moment f...,0,politics,"Dec 21, 2015"
4,BREAKING: Russian Officials Celebrate Rex Til...,Quid pro quo in the Trump/Russia situation is ...,0,News,"December 14, 2016"
...,...,...,...,...,...
26591,Arizona GOP Passes Bill To Punish Cities With...,If cities want to try and help their workers g...,0,News,"March 21, 2016"
26592,OBAMA’S OPEN BORDERS: ILLEGAL ALIEN DEPORTED 1...,He was just looking to the jobs most Americans...,0,politics,"Aug 15, 2015"
26593,Bill O’Reilly’s Goon Gets Schooled By College...,Bill O Reilly has a segment of his show in whi...,0,News,"April 9, 2016"
26594,Another Black Swan Hits the U.S. Presidential ...,"at 1:43 pm 3 Comments \nBy now, everyone on pl...",0,NaN,NaN
26644,Maddow Compares Trump To 1968 Racist Candidat...,Some political pundits have been unable to des...,0,News,"January 6, 2016"

In [71]:
true_marge.drop(true_marge.index[-50:-1])

,title,text,class,subject,date
0,Trump to meet scandal-hit Malaysian leader in ...,WASHINGTON/KUALA LUMPUR (Reuters) - President ...,1,politicsNews,"August 23, 2017"
1,"'One China' principle must be maintained, Chin...",BEIJING (Reuters) - The One China principle ...,1,worldnews,"October 18, 2017"
2,UK says has constructive relationship with Ire...,LONDON (Reuters) - Britain has a constructive ...,1,worldnews,"November 24, 2017"
3,"U.S. plans to admit maximum 45,000 refugees in...",WASHINGTON (Reuters) - The Trump administratio...,1,politicsNews,"September 27, 2017"
4,Afghan suspect arrested in Germany over migran...,BERLIN (Reuters) - German police on Tuesday ar...,1,worldnews,"December 5, 2017"
...,...,...,...,...,...
24534,Irish PM not optimistic Brexit talks will move...,"CLONMEL, Ireland (Reuters) - Irish Prime Minis...",1,worldnews,"September 15, 2017"
24535,Senators seek to block $1.15 billion U.S. arms...,WASHINGTON (Reuters) - Four U.S. senators intr...,1,politicsNews,"September 8, 2016"
24536,Arkansas attorney general says open to working...,(Reuters) - Arkansas Attorney General Leslie R...,1,politicsNews,"November 17, 2016"
24537,"After Brexit, UK aims for trade deal with EU t...",LONDON (Reuters) - Britain is aiming to secure...,1,worldnews,"December 10, 2017"
24587,Obama says Islamic State fight far from 'World...,WASHINGTON (Reuters) - President Barack Obama ...,1,politicsNews,"January 13, 2016"

In [74]:
#true_marge.to_csv('True_final.csv', index=False)

In [75]:
#fake_marge.to_csv('Fake_final.csv', index=False)